<div class="filters-container">

  <div class="search-box">

    <lucide-icon
    [img]="Search"
    class="search-icon"
    />

    <input
      type="text"
      placeholder="Buscar lugares..."
    >

  </div>

  <select>

    @for (category of categories; track category) {

      <option>
        {{ category }}
      </option>

    }

  </select>

  <select>

    @for (municipality of municipalities; track municipality) {

      <option>
        {{ municipality }}
      </option>

    }

  </select>

</div>