<header class="navbar">
  <div class="logo">
    <div class="logo-icon">
      
    </div>
    <div class="logo-text">
      <h2>Viva Ruta</h2>
      <span>Nariño</span>
    </div>
  </div>
  <nav>
    <a routerLink="/">
      Inicio
    </a>
    <a routerLink="/lugares">
      Lugares
    </a>

    <a>
      Tours
    </a>
  </nav>
  <div class="right-section">
    <button class="booking-btn">
      Mis Reservas
    </button>
    <div class="user-avatar">
      <lucide-angular
        [img]="UserRound"
        class="nav-icon">
      </lucide-angular>
    </div>
  </div>
</header>