<div
  class="tour-card"
  (click)="goToTour()">

  <div class="image-container">

    <img
      [src]="image"
      [alt]="title"
    >

    <div class="rating">

      ⭐ {{ rating }}

    </div>

  </div>

  <div class="tour-content">

    <h3>
      {{ title }}
    </h3>

    <div class="location">

      📍 {{ location }}

    </div>

    <p class="tour-description">
      {{ description }}
    </p>

    <div class="tour-meta">
      <div class="meta-item">
        <span class="meta-label">Duración</span>
        <strong>{{ duration }}</strong>
      </div>

      <div class="meta-item meta-right">
        <span class="meta-label">Disponibles</span>
        <strong>{{ spots }} cupos</strong>
      </div>
    </div>

    <div class="tour-footer">
      <div>
        <h2>
          ${{ price | number }}
        </h2>
        <span>
          Desde
        </span>
      </div>
      <button class="details-btn" type="button">
        Ver detalles
      </button>
    </div>
  </div>
</div>
