<section class="categories">

  <div class="categories-header">

    <h2>
      Explora Lugares por Categoría
    </h2>

    <p>
      Encuentra experiencias únicas en cada rincón de Nariño
    </p>

  </div>

  <div class="categories-grid">

    <div class="category-card">

      <div class="icon-wrapper nature">

        <lucide-icon
          [img]="Trees"
          class="category-icon"
        />

      </div>

      <span>
        Naturaleza
      </span>

    </div>

    <div class="category-card">

      <div class="icon-wrapper culture">

        <lucide-icon
          [img]="Landmark"
          class="category-icon"
        />

      </div>

      <span>
        Cultura
      </span>

    </div>

    <div class="category-card">

      <div class="icon-wrapper adventure">

        <lucide-icon
          [img]="Mountain"
          class="category-icon"
        />

      </div>

      <span>
        Aventura
      </span>

    </div>

    <div class="category-card">

      <div class="icon-wrapper food">

        <lucide-icon
          [img]="Utensils"
          class="category-icon"
        />

      </div>

      <span>
        Gastronomía
      </span>

    </div>

    <div class="category-card">

      <div class="icon-wrapper beach">

        <lucide-icon
          [img]="Waves"
          class="category-icon"
        />

      </div>

      <span>
        Playa
      </span>

    </div>

    <div class="category-card">

      <div class="icon-wrapper religion">

        <lucide-icon
          [img]="Church"
          class="category-icon"
        />

      </div>

      <span>
        Religioso
      </span>

    </div>

  </div>

</section>