.featured-tours {

  padding: 20px 80px 100px;
}

.tours-grid {

  display: flex;

  flex-wrap: wrap;

  gap: 32px;

  margin-top: 40px;
}
.section-subtitle {

  font-size: 18px;

  font-weight: 800;

  letter-spacing: 4px;

  text-transform: uppercase;

  color: var(--primary-green);

  margin-bottom: 18px;

  display: inline-block;
}

.section-description {

  font-size: 22px;

  color: var(--primary-dark);

  font-weight: 600;
}

.state-text {

  font-size: 18px;

  color: #475569;
}
