<section class="featured-tours">

  <div class="section-header">

    <span class="section-subtitle">
    Tours Destacados
    </span>

    <p class="section-description">
    Experiencias únicas diseñadas para ti
    </p>

  </div>

  <div class="tours-grid">

    <app-tour-card

      [id]="1"

      title="Tour Laguna de La Cocha y La Corota"

      location="Laguna de La Cocha"

      image="https://images.unsplash.com/photo-1506744038136-46273834b3fb"

      [price]="80000"

      duration="6 horas"

      [spots]="7"

      [rating]="4.8"

    />

    <app-tour-card

      [id]="2"

      title="Peregrinación al Santuario de Las Lajas"

      location="Santuario de Las Lajas"

      image="https://images.unsplash.com/photo-1515377905703-c4788e51af15"

      [price]="60000"

      duration="5 horas"

      [spots]="8"

      [rating]="4.9"

    />

  </div>

</section>