<section class="hero">

  <div class="overlay"></div>

  <div class="hero-content">

    <span class="badge">
      Descubre experiencias auténticas
    </span>

    <h1>
      Descubre la magia de
      <span>Nariño</span>
    </h1>

    <p>
      Explora paisajes únicos, vive experiencias auténticas y conecta con la naturaleza y cultura del sur de Colombia.
    </p>

    <div class="search-container">

      <div class="search-input">

        <span>
          <lucide-icon
            name="search"
            class="lucide-icon"
            >
          </lucide-icon>
        </span>

        <input
          type="text"
          placeholder="¿Qué quieres descubrir?"
        >

      </div>

      <button>
        Buscar
      </button>

    </div>

    <div class="stats-floating">

      <div class="stat-item">

        <div class="icon">
         <lucide-icon
  name="map-pin"
  class="stat-lucide"
>
</lucide-icon>
        </div>

        <h3>
          50+
        </h3>

        <p>
          Lugares
        </p>

      </div>

      <div class="stat-item">

        <div class="icon">
          <lucide-icon
  name="trending-up"
  class="stat-lucide"
>
</lucide-icon>
        </div>

        <h3>
          100+
        </h3>

        <p>
          Tours
        </p>

      </div>

      <div class="stat-item">

        <div class="icon">
          <lucide-icon
  name="users"
  class="stat-lucide"
>
</lucide-icon>
        </div>

        <h3>
          5000+
        </h3>

        <p>
          Viajeros
        </p>

      </div>

      <div class="stat-item">

        <div class="icon">
          <lucide-icon
  name="award"
  class="stat-lucide"
>
</lucide-icon>
        </div>

        <h3>
          Premium
        </h3>

        <p>
          Experiencias
        </p>

      </div>

    </div>

  </div>

</section>